/node_modules
/public/hot
/public/resources
/public/uploads
/public/images
/public/css
/public/storage
/resources/assets/theme
/resources/assets/ampleadmin
/resources/assets/less
/resources/assets/sass
/resources/assets/css
/storage/
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.env
.env
/nbproject/private/
readme.md
README.md
/public/uploads